@media only screen and (max-width: 768px) {
	.about {
		font-size: 20px;
	}
	.img-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.quiz {
		margin-top: 30px;
	}
	.form-container input, .form-container textarea {
		display: flex;
		justify-content: center;
	}
}